/* icons font specifications */
@font-face {
	font-family: "hbicons";
	src: url("/static/lobby/fonts/hbicons.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "glyphicons";
	src: url("/static/lobby/fonts/glyphicons-halflings-regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

.icon {
	font-family: "hbicons";
}

/*
 * Globals
 */

$text-color: #eef0f2;
$background-color: #717579;
$selected-color: #a62639;
$disabled-color: #c6cbce;
$focused-color: #d1062e;

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #eef0f2;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #717579;
  border: 1px solid white;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color:#717579;
}
body {
  color: #eef0f2;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  vertical-align: top;
}
.cover-container {
}

/* Padding for spacing */
.inner {
  padding: 30px;
}

.content {
  position:absolute;
  left:5em;
  top:0;
  width : calc(100% - 5em);
}


/*
 * Header
 */
.masthead-brand {
  margin-top: 1em;
  margin-bottom: 1em;
  display:block;
}

.leftbar {
    position:absolute;
    left:0;
    top:0;
    width:5em;
    box-shadow: 2px 0px 2px grey;
}
.masthead-nav > li {
  margin-top:10px;
  display: block;
}
.masthead-nav > li + li {
/*  border-top:1px solid black;*/
  box-shadow: 0px -2px 2px grey;
}
.masthead-nav > li {
  padding-right: 0;
  padding-left: 0;
  font-size: 1.6em;
  font-weight: bold;
  color: #eef0f2;
}
.masthead-nav > li > a:hover
{
  color: #fff;
  background-color:transparent;
}

.masthead-nav > li > a:focus,
.masthead-nav > li > .active {
  color: #a62639;
  background-color:transparent;
}
.masthead-nav > li > a {
  font-family: "glyphicons";
  font-weight:normal;
  padding:0;
  font-size:2em;
  color: #e4eaec;
}

@media (min-width: 768px) {
  .masthead-brand {
  }
  .masthead-nav {
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 3em;
}
.cover .btn-lg {
  padding: 1em 3em;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #c6cbce; /* IE8 proofing */
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
}
