{% extends "core/index.html" %}
{% load i18n %}

{% block topmenu %}
<nav>
  <ul class="nav masthead-nav">
    <li><a href="/">{% trans "Home" %}</a></li>
    <li><a href="/features">{% trans "Features" %}</a></li>
    <li><a href="/login">{% trans "Log-in" %}</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<h1 class="cover-heading">{% trans "FEATURES" %}</h1>
<p class="lead">{% trans "You can just subscribe for free and play the game using the match making engine, or invite your friends and start a custom game. Play as a team or get ready to be defeated." %}
</p>
{% endblock %}

