{% extends "core/index.html" %}
{% load i18n %}

{% block topmenu %}
{% endblock %}

{% block content %}
<h1 class="cover-heading">{% trans "Subscription succeeded" %}</h1>
<p class="lead">{% trans "You can now enjoy bombaz by reading the tutorial or joining the lobby." %}</p>
<p>{% trans "If you like this game, don't forget to invite your friends." %}</p>
<button class="btn btn-success">
    <a href="{%  url 'bombaz-lobby:index' %}">
        {% trans "Play" %}
    </a>
</button>
<button class="btn btn-info">
    <a href="{%  url 'bombaz-lobby:tutorial' %}">
        {% trans "Tutorial" %}
    </a>
</button>
{% endblock %}

