{% extends "core/index.html" %}
{% load i18n %}

{% block topmenu %}
<nav>
  <ul class="nav masthead-nav">
    <li><a href="{% url "bombaz-core:home" %}">{% trans "Home" %}</a></li>
    <li><a href="{% url "bombaz-core:features" %}">{% trans "Features" %}</a></li>
    <li><a href="{% url "bombaz-core:login" %}">{% trans "Log-in" %}</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<h1 class="cover-heading">{% trans "Subscribe now" %}</h1>
<form method="POST" action="/subscribe">
  {% csrf_token %}
  <div class="row form-group {% if loginError %} error {% endif %}">
    <label class="col-sm-2 control-label" for="loginInput">{% trans "User name" %}</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="loginInput" name="login" placeholder="User name" value="{{ form.login.value }}"/>
    </div>
    <label class="col-sm-2 text-danger">{{ loginError }}</label>
  </div>
  <div class="row form-group {% if emailError %} error {% endif %}">
    <label class="col-sm-2 control-label" for="emailInput">{% trans "Email" %}</label>
    <div class="col-sm-8">
      <input type="email" class="form-control" id="emailInput" name="email" placeholder="Enter email" value="{{ form.email.value }}"/>
    </div>
    <label class="col-sm-2 text-danger">{{ emailError }}</label>
  </div>
  <div class="row form-group {% if passwordError %} error {% endif %}">
    <label class="col-sm-2 control-label" for="passwordInput">{% trans "Password" %}</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="passwordInput" name="password" placeholder="Password"/>
    </div>
    <label class="col-sm-2 text-danger"></label>
  </div>
  <div class="row form-group {% if passwordError %} error {% endif %}">
    <label class="col-sm-2 control-label" for="passwordInput">{% trans "Again" %}</label>
    <div class="col-sm-8">
      <input type="password" class="form-control" id="password2Input" name="password2" placeholder="Password"/>
    </div>
    <label class="col-sm-2 text-danger">{{ passwordError }}</label>
  </div>
  <div class="form-group">
    <div class="col-sm-12">
    <button type="submit" class="btn btn-default">Sign up</button>
    </div>
  </div>
</form>
{% endblock %}

