{% extends "core/index.html" %}
{% load i18n %}

{% block topmenu %}
<nav>
  <ul class="nav masthead-nav">
    <li><a href="/">Home</a></li>
    <li class="active"><a href="/features">Features</a></li>
    <li><a href="/login">{% trans "Log-in" %}</a></li>
  </ul>
</nav>
{% endblock %}

{% block content %}
<h1 class="cover-heading">Subscribe now</h1>
<form class="form" action="subscribe">
  <div class="form-group">
    <div class="sr-only" for="emailInput">User name</div>
    <input type="text" class="form-control" id="emailInput" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="emailInput">Email address</label>
    <input type="email" class="form-control" id="emailInput" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label class="sr-only" for="passwordInput">Password</label>
    <input type="password" class="form-control" id="passwordInput" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-default">Sign up</button>
</form>
{% endblock %}

